body{
    color:rgb(247, 245, 245);
    background:rgb(5, 6, 7);
    margin: 0px;
    font-family: "Nerko one",cursive;
}

header{
    border-bottom:solid 2px rgb(224, 121, 121);
    padding: 6px;
    font-size: 32px;
    color:rgb(224, 121, 121);
}
    
   .chamada {
    background:rgb(136 4 35);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
 
    .chamada-texto {
        margin-right: 5%;
    }

    h1{
        font-size: 40px;}

    p{
        font-size: 20px;
    }

    img {
        height: 200px;
    }

    .categoria-videos{ 
        display: flex;
     overflow-x: auto;
     gap: 10px;
    }

    .categoria{
        padding-left:20px;
        padding-right: 20px;
        margin-top: 50px;
    }

    .categoria-videos img {
        opacity: 0.5;
        height: 200px;
    }
    
    .categoria-videos img:hover {
        opacity: 1.0;
        border: 3px solid rgb(0, 87, 128);
    }
    
    .categoria h2 {
        color: rgb(136 4 35);
    }